<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login Form Tutorial</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="login-form">
        <h1>Enter URL</h1>
        <form action="/api/url/shorten" method="POST">
            <input type="text" name="address" placeholder="Enter Url" required>
            <button type type="submit">Shorten Link</button>

        </form>
    </div>
    <!-- <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>SHORT URL</th>
                <th>CLICKS</th>
            </tr>
        </thead>
    </table>
    <tbody>
        <tr>
            <td><a href="http://localhost:4000">http://localhost:4000</a>
            </td>
            <td><a href="12345"></a></td>
        </tr>
        <td>10</td>
    </tbody> -->

</body>

</html>